
.parrafo{
    width: 50%;
    height: 10%;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    padding-left: 10px;
    margin-top: 10px;
}
   

.carrusel{
    max-width: 50%;
margin: 0 auto;
}