.eventos {
    background-color: rgba(3, 27, 3, 0.863);
    color: azure;
    border: 2px solid black;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    gap: 1rem; 
}

.eventos img {
    max-width: 100%;
    height: auto;
}

.texto {
    text-align: left;
}
.contactos{
    margin-right: 10px;
}
.contenedor-contactos{
    max-width: 100%;
    box-sizing: border-box;
}
@media(min-width:577px){
    .contenedor-total{
      width: 100vw;
      overflow-x: hidden;
    }
   }
@media(max-width: 576px){
    .contenedor-contactos{
        display: block;
        width: 80vw;
    }
}