
.header {
    background-color: rgb(0, 0, 0);
    color: rgb(4, 107, 9);
    width: 100vw;
    height: 10%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

.titulo2 {
    color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;

}

.barra-nav {
    width: 100vw;
    height: 10%;
    background-color: rgb(4, 107, 9);

}

  
