.propuestas{
    padding: 0;
    margin: 0;
}
.titular{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(7, 78, 5);
    font-size: 35px;
    background-color: black;

}
.parrafito{
    display: flex;
    justify-content: center;
    color: antiquewhite;
}