.canchas-titulos{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .parrafo{
    width: 80%;
    height: 5%;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    display: flex;

justify-content: center;
}
    */
